* {
  box-sizing: border-box;
  transition:
    background 1s,
    color 1s,
    border-color 1s,
    fill 1s;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

body {
  margin: 0;
}

.ant-btn,
.ant-btn:focus {
  box-shadow: none;
}
