* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;

  box-sizing: border-box;
  transition:
    background 0.5s,
    color 0.5s,
    border-color 0.5s,
    fill 0.5s;
}

body {
  margin: 0;
}

#root {
  height: 100vh;
}
